.form-field {
    width: 250px;
    display: inline-block;
    padding: 5px;
}

.hidden {
    display: none!important;
}

.cart-row {
    display: flex;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;
}