{% extends "pages/base.html" %}
{% block title %}cart{% endblock %}
{% load static %}
{% block content %}
<br>
<br>
<div>
<div class="container">
	<div class="row">
		<div class="col-xl-6 col-lg-6">
			<div class="box-element" id="form-wrapper">
				<form action="" id="form">
					<div id="user-info">
						<div class="form-field">
							<input type="text" required class="form-control" name="name" placeholder="Name ...">
						</div>
					</div>
					
					<div class="shipping-info">
						<hr>
						<p>Shipping Information:</p>
						<hr>
						<div class="form-field">
							<input type="text" required class="form-control" name="address" placeholder="address ...">
						</div>
						<div class="form-field">
							<input type="text" required class="form-control" name="phone" placeholder="phone ...">
						</div>
						<div class="form-field">
							<input type="text" required class="form-control" name="order_description" placeholder="order description ...">
						</div>
						
					</div>
					<input type="submit" value="Continue" id="form-button" class="btn btn-success btn-block">
				</form>
			</div>
			<br>
			<div class="box-element hidden" id="payment-info">
				<small>Payal Options</small>
				<button id="make-payment">Make Payment</button>
				
			</div>
			
		</div>
	<div class="col-xl-6 col-lg-6">
		<div class="box-element">
			<a href="{% url 'cart' %}" class="btn btn-outline-dark">Back to cart</a>
		</div>
		<hr>
		<h3>Order Summary</h3>
		{% for item in items %}
		<div class="cart-row">
			<div style="flex:2"><img src="{{item.product.image.url}}" alt="" class="responsive image"></div>
			<div style="flex:2"><p>{{item.product.title}}</p></div>
			<div style="flex:2"><p>${{item.product.price}}</p></div>
			<div style="flex:2"><p>{{item.qunatity}}</p></div>
		</div>
		{% endfor %}
		<h5>Item: {{cart.get_cart_item}}</h5>
		<h5>Total: ${{cart.get_cart_total}}</h5>
	</div>
</div>
</div>


<script src="{% static 'js/order.js' %}"></script>
{% endblock content %}
